<div class="login">
    <form (ngSubmit)="check()">
        <div class="example-container">
            <div>
                <mat-form-field>
                    <mat-label>نام کاربری</mat-label>
                    <input matInput placeholder="نام کاربری شما" [formControl]="username"
                        (blur)="updateUsernameErrorMessage()" required />
                    @if (username.invalid) {
                    <mat-error>{{usernameErrorMessage()}}</mat-error>
                    }

                </mat-form-field>
                <div>
                    <mat-form-field>
                        <mat-label>کلمه عبور </mat-label>
                        <input matInput type="password" placeholder="کلمه عبور  شما" [formControl]="password"
                            (blur)="updatePasswordErrorMessage()" required />
                        @if (password.invalid) {
                        <mat-error>{{passwordErrorMessage()}}</mat-error>
                        }

                    </mat-form-field>
                    <div>
                        <button [disabled]="busy || password.invalid || username.invalid" type="submit" class="b1"
                            mat-button>
                            @if (busy==true) {
                            <mat-spinner [diameter]="32"></mat-spinner>
                            }
                            @else if(busy==false) {
                            ورود}
                        </button>
                    </div>
                    @if(severMessage()!==''){

                    <div class="erorr">
                        {{severMessage()}}
                    </div>
                    }
                </div>
            </div>
        </div>
    </form>
</div>